body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;
}
.Hoja{
    display: grid;
    color: rgb(255, 255, 255);
    text-align: center;
}
#main-header {
	background: #333;
	color: white;
	height: 30px;
}	
	#main-header a {
		color: white;
	}
.grid {
    display: grid;
    grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr [x3];
    grid-template-rows: [y0] 1fr [y1] 1fr [y2] 1fr [y3];
 }
.d {
    font-weight: normal;
}
.e {
    font-weight: normal;
}
.f {
    font-weight: normal;
}
.XP {
    display: grid;
    grid-template-columns: [x0] 1fr;
    grid-template-rows: [y0] 1fr;
}
.a1 {
    font-weight: bold;
}
